.flexColChild--col__one--category {
  width: 20px;
  height: 20px;
}

.flexRow {
  background: #FFFFFF;;
}

.flexCol--col__two--text {
  background: #F0F0F2;
  margin-top: 4rem;
}

.stretchChildrenWidth {
  background: #F0F0F2;
  margin-top: 4rem;
}