.label {
  width: 80;
  height: 40;
  gap: 10px;
  border-radius: 40px;
  border-width: 1px;
  padding: 10px;
  background-color: #1D2734;
  font-family: Lexend;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}