.label {
  font-family: Lexend;
  gap: 10px;
  border-radius: 40px;
  border-width: 1px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #1D2734;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 100%;
  text-align: center;
}